variable "azure_client_id" {
  type    = string
}

variable "azure_client_secret" {
  type    = string
}

variable "azure_tenant_id" {
  type    = string
}

variable "azure_subscription_id" {
  type    = string
}

module "f5xc_azure_marketplace_agreement_single_nic" {
  source                           = "./modules/azure/agreement"
  azure_client_id                  = var.azure_client_id
  azure_client_secret              = var.azure_client_secret
  azure_tenant_id                  = var.azure_tenant_id
  azure_subscription_id            = var.azure_subscription_id
  f5xc_azure_ce_gw_type            = "single_nic"
}

module "f5xc_azure_marketplace_agreement_multi_nic" {
  source                           = "./modules/azure/agreement"
  azure_client_id                  = var.azure_client_id
  azure_client_secret              = var.azure_client_secret
  azure_tenant_id                  = var.azure_tenant_id
  azure_subscription_id            = var.azure_subscription_id
  f5xc_azure_ce_gw_type            = "multi_nic"
}

module "f5xc_azure_marketplace_agreement_app_stack" {
  source                           = "./modules/azure/agreement"
  azure_client_id                  = var.azure_client_id
  azure_client_secret              = var.azure_client_secret
  azure_tenant_id                  = var.azure_tenant_id
  azure_subscription_id            = var.azure_subscription_id
  f5xc_azure_ce_gw_type            = "app_stack"
}


